/* Para pantallas móviles */
@media (max-width: 480px) {
    .container {
        width: 90%; /* Cambia a 90% o menos si es necesario */
        padding: 1rem; /* Ajusta el padding para móviles */
    }

    .name, .subtitle, .description-header, .description-text {
        font-size: 1rem; /* Ajusta el tamaño de fuente si es necesario */
        text-align: center; /* Centra el texto si quieres un diseño más limpio */
    }

    .bullet-point {
        font-size: 0.9rem; /* Tamaño de fuente más pequeño para dispositivos móviles */
    }
    
    .pre-footer-images img {
        width: 100%; /* Asegúrate de que las imágenes se ajusten al ancho */
        height: auto; /* Mantén la relación de aspecto */
    }
} */
}
